.main-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

.content-wrapper {
  margin-left: var(--sidebar-width); 
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-bg);
  overflow-x: auto;
}
